---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Success Page">
  <section class="hero">
    <h1>Success!</h1>
    <p>Thank you for your submission!</p>
    <p>We will get back to you as soon as possible.</p>
    <p>Have a great day!</p>
    <p>~ The Astro Team</p>
  </section>
</Layout>