---
import StoryBuilder from '../../components/StoryBuilder.jsx'
import Layout from '../../layouts/Layout.astro';
import { stories } from '../api/stories.js';
const id = Astro.params.id;
const story = stories.find((story) => story.id === id);
---

<Layout title='Cloudflare MadLibs Game'>
  <main>
    <h1>Cloudy<span class='text-gradient'> MadLibs Game</span></h1>
    <!-- TODO: Use the bgcolor of a specific story -->
    <h2 class='story-title'>{story?.title}</h2>
    <p>{story?.description}</p>
    <StoryBuilder story={story} />
    <div id="story-container"></div>
  </main>
</Layout>


<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1200px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
  }

  .story-title {
    text-align: center;
    margin-bottom: -0.5em;
    font-size: 2em;
  }

  .submit {
    padding: 1em 0.5em;
    background-color: rgb(var(--accent-dark));
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    color: #fff;
  }

  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  .footer a {
    color: rgb(var(--accent-light));
  }
</style>
