<section>
  <h2>How to Play the Game</h2>
  <p>
    Choose a story you will like to play, then click the <strong>Play button</strong>
    you'll be prompted to simply fill out the form below with the appropriate parts of
    speech.
    <br />
     Once you've completed the form, click the <strong>Generate Story</strong>
    button to see your story come to life!
  </p>
</section>
