<section>
  <p class="instructions">
    Embark on a storytelling adventure! Choose a story template and fill in the form with your chosen words - adjectives, nouns, verbs, and more. Your choices will shape the narrative in unique ways. Once done, hit the <strong>Generate Story</strong> button to see your personalized tale come to life. 
  </p>
</section>

<style>
   .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
   .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
</style>
